.client__title {
    margin-bottom: 50px;
}
.client__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
.client__link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 170px;
    height: 92px;

    border: var(--border-client-item);
    border-radius: 4px;

    transition: var(--transition-border-color);
}
.client__svg {
    fill: var(--svg-fill-client);
    transition: var(--transition-fill);
}
/* client hover */
.client__link:is(:hover, :focus) {
    border-color: var(--border-color-client-item-hover);
}
/* client icon hover */
.client__link:is(:hover, :focus) .client__svg {
    fill: var(--svg-fill-client-hover);
}
