.contact {
    display: flex;
    gap: 50px;
    white-space: nowrap;
}
.contact__item {
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav__link,
.contact__link {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.143;
    letter-spacing: 0.02em;
}
.contact__link {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--font-color-contact-header);
}
.contact__svg {
    fill: var(--svg-fill-contact);
    transition: var(--transition-fill);
}
/* contact icon hover */
.contact__link:is(:hover, :focus) .contact__svg {
    fill: var(--svg-fill-contact-hover);
}
