.form__title {
    margin-bottom: 12px;

    font-size: 20px;
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: 0.03em;
}
.form__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.form__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.form__item:not(:last-child) {
    margin-bottom: 10px;
}
.form__item:has(.form__comment) {
    margin-bottom: 20px;
}
.form__item:has(.form__checkbox) {
    flex-direction: row;
    align-items: center;

    margin-bottom: 30px;
}
.form__item:has(button) {
    align-items: center;
}
.form__contact {
    position: relative;

    margin-bottom: 4px;

    color: var(--font-color-form-contact);
    font-size: 12px;
    line-height: 0.875;
    letter-spacing: 0.01em;
}
.form__container {
    position: relative;
}
.form__input {
    display: block;
    width: 100%;
    height: 40px;
    padding-left: 42px;

    border: var(--border-form-input);
    border-radius: 4px;

    transition: var(--transition-border-color);
}
.form__svg {
    position: absolute;
    top: 11.5px;
    left: 16px;

    fill: var(--svg-fill-form-contact);
    transition: var(--transition-fill);
}
.form__comment {
    padding: 12px 16px;
    height: 120px;

    border: var(--border-form-input);
    border-radius: 4px;
    resize: none;

    transition: var(--transition-border-color);
}
.form__comment::placeholder {
    color: var(--font-color-form-placeholder);
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.01em;
}
.form__terms {
    display: flex;
    align-items: center;
    justify-content: center;

    pointer-events: none;
}
.form__text {
    margin-left: 8px;

    color: var(--font-color-form-terms);
}
.form__link {
    color: var(--font-color-form-link);
    text-decoration: underline;

    pointer-events: auto;
}
.form__button {
    padding-inline: 76px;

    transition: var(--transition-button-primary);
}
// focus
.form__input:focus,
.form__comment:focus {
    border-color: var(--border-color-form-input-focus);
    outline: 0;
}
// svg fill on focus
.form__input:focus + .form__svg {
    fill: var(--svg-fill-form-contact-hover);
}

// -----------------   CHECKBOX   -----------------
.checkbox {
    position: relative;
    top: -1px;

    display: block;
    width: 16px;
    height: 15px;

    border: var(--border-form-checkmark);
    border-radius: 2px;

    pointer-events: auto;
    cursor: pointer;
}
.form__checkbox:checked + .form__terms .checkbox {
    background-color: var(--bgcolor-form-checkbox);

    border: none;
}
.form__checkbox + .form__terms .checkbox__svg {
    display: none;
}
.form__checkbox:checked + .form__terms .checkbox__svg {
    position: absolute;
    top: 1px;
    left: 2px;

    display: block;

    fill: var(--svg-fill-form-checkmark);
}
.form__checkbox--reset {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

// -----------------   NEWSLETTER   -----------------
.newsletter {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}
.newsletter__input {
    width: 358px;
    height: 50px;
    padding-left: 16px;

    color: var(--font-color-newsletter-footer);
    background-color: var(--bgcolor-newsletter-footer);
    border: var(--border-newsletter-input-footer);
    border-radius: 4px;

    box-shadow: var(--shadow-newsletter-footer);

    transition: var(--transition-border-color);
}
.newsletter__input:focus {
    border-color: var(--border-color-newsletter-input-footer);
    outline: 0;
}
.newsletter__input::placeholder {
    color: var(--font-color-placeholder-footer);
}
.newsletter__button {
    display: flex;
    align-items: center;
    gap: 24px;

    padding-right: 28px;

    transition: var(--transition-button-primary);

    white-space: nowrap;
}
.newsletter__svg {
    fill: var(--svg-fill-newsletter-footer);
}
